body {
  @include cursor_default;
  color: #fff;
  font-family: 'Autour One';
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 13px;
}

.global {
  @include border_image('../img/background.png', '6px 6px 9px 6px');
  color: #fff;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.view {
  // The only thing that should ever need this is a modal window. Everything
  // else should be attached to it's own component/view element which is also
  // relatively positioned.
  position: relative;
  height: calc(100vh - #{$title_height});
  padding: 10px;
}
