button {
  @include border_image('../img/button.png', '8px 8px 13px 8px');

  outline: none;
  height: 50px;
  font-family: 'Grobold';

  @include cursor_pointer;
  @include text_shadow(rgba(255, 255, 255, 0.1));
}

button:hover {
  @include highlight();
}

button:disabled {
  @include cursor_not-allowed;
  color: #000;
  -webkit-filter: brightness(0.5);
  -webkit-transform: none; // To override the transform on button:hover
}

.button_red {
  border-image-source: url('../img/button_red.png');
}

.button_main {
  display: block;
  margin: 0 auto 10px auto;

  width: 500px;
  height: 80px;

  border-image-source: url('../img/button_main.png');

  @include text_shadow();
  text-align: center;
  font-size: 32px;
  color: #ffc000;
}
