button {
  outline: none;

  background: #7E8994;

  border-image-source: url('../img/button.png');
  border-image-slice: 8 8 13 8;
  border-width: 8px 8px 13px 8px;

  height: 50px;

  font-family: "Grobold";

  @extend .cursor_pointer;
}

button:hover {
  border-image-source: url('../img/button_hover.png');
  background: #9E9E82;
}

.button_red {
  border-image-source: url('../img/button_red.png');
  background: #b33131;
}

.button_red:hover {
  border-image-source: url('../img/button_red_hover.png');
  background: #f93030;
}
