.cursor_default {
  cursor: url('../cursor/default.cur'), default;
}

.cursor_hover {
  cursor: url('../cursor/hover.cur'), default;
}

.cursor_invalid {
  cursor: url('../cursor/invalid.cur'), default;
}
