// TODO: Maybe make these mixins if I don't end up using the classes.

.cursor_default {
  cursor: url('../cursor/default.cur'), default;
}

.cursor_hover {
  cursor: url('../cursor/hover.cur'), default;
}

.cursor_invalid {
  cursor: url('../cursor/invalid.cur'), default;
}
