// TODO: Maybe make these mixins if I don't end up using the classes.

.cursor_default {
  cursor: url('../cursor/default.cur'), default;
}

.cursor_pointer {
  cursor: url('../cursor/pointer.cur'), default;
}

.cursor_not-allowed {
  cursor: url('../cursor/not-allowed.cur'), default;
}
