@font-face {
  font-family: 'Grobold';
  src: url('../font/grobold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Autour One';
  src: url('../font/autour_one.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Consolas';
  src: url('../font/consolas.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
