h1, h2, h3 {
  margin: 0;
  margin-bottom: 5px;
}

h1 {
  color: #ffc000;
  font-size: 28px;
  font-family: "Grobold";
  font-weight: normal;
  @include text_shadow();
}

h2 {
  font-size: 22px;
  font-family: "Grobold";
  font-weight: normal;
  @include text_shadow();
}

h3 {
  font-size: 16px;
  font-family: "Autour One";
  font-weight: normal;
  @include text_shadow();
}
