::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.4);
  -webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical {
  background: #322f28;
  border: 2px solid #000;
  -webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background: #403b30;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #322f28;
  border: 2px solid #000;
  -webkit-border-radius: 0px;
}
