th {
  font-family: "Grobold";
  font-weight: normal;
  text-shadow:
    2px 2px #000,
    -2px 2px #000,
    2px -2px #000,
    -2px -2px #000,
    2px 0px #000,
    0px 2px #000,
    -2px 0px #000,
    0px -2px #000;
}

.zebra tbody td {
  padding: 5px;
}

.zebra tbody tr:nth-child(odd) {
  background: #3C372F;
}

.highlight tbody tr:hover {
  background: #464339;
}
