.title {
  @include border_image('../img/title_background.png', '8px 8px 11px 8px');

  height: $title_height;
  line-height: $title_height - 19px;

  color: #ffc000;
  font-size: 18px;
  font-family: 'Grobold';
  font-weight: normal;
  padding-left: 10px;
  @include text_shadow();
}
