.effect_editor {
  .list {
    height: calc(100vh - #{$non_content_height});
    overflow: auto;
    font-size: 13px;
  }

  .unsupported {
    color: #1f1e1e;
    @extend .cursor_invalid;
  }

  .well {
    height: calc(100vh - #{$non_content_height});
    position: relative;
    padding: 0;
  }

  .current_name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 10px;
  }

  .toolbar {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.5);
    width: calc(100% - 20px);

    input {
      outline: none;
      -webkit-appearance: none;
      cursor: pointer;
      background-repeat: no-repeat;
      background-size: 42px 42px;
      width: 42px;
      height: 42px;
      -webkit-filter: grayscale(100%);
    }

    input:checked {
      -webkit-filter: none;
    }

    .toggle_terrain {
      background-image: url('../img/terrain.png');
    }

    .toggle_axis {
      background-image: url('../img/terrain.png');
    }

    .toggle_emitter {
      background-image: url('../img/terrain.png');
    }
  }
}
