$container_width: 500px;
.container {
  @include border_image('../img/modal_background.png', '8px 8px 13px 8px');

  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -$container_width / 2;

  width: $container_width;

  z-index: 1001;
}

.text {
  margin: 10px;
  @include text_shadow();
}

.buttons {
  margin: 10px;
  text-align: right;
}

button {
  margin-left: 10px;
}
