$frame_width: 399px;
$frame_height: 93px;

.frame_container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -$frame_height / 2 - $title_height;
  margin-left: -$frame_width / 2;

  width: $frame_width;
  height: $frame_height;

  z-index: 1001;
}

.frame {
  position: relative; // For absolutely positioned .meter and .text.

  width: 100%;
  height: 100%;

  background: url('../img/progress_frame.png');
}

.meter {
  @include border_image('../img/progress_meter.png', '5px 5px 10px 5px');

  position: absolute;
  top: 12px;
  left: 0;

  margin-left: 11px;
  height: 48px;

  z-index: 1002;
}

.text {
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;

  @include text_shadow();
  font-family: 'Grobold';
  font-size: 18px;
  text-align: center;

  z-index: 1003;
}
