.status_bar {
  background: #322F27;
  position: absolute;
  bottom: 17px;
  width: 938px;
  height: $status_bar_height;
  line-height: $status_bar_height;
}

.launch {
  @include cursor_pointer;
  position: absolute;
  bottom: 7px;
  left: 10px;
  height: 40px;
}

.launch:hover {
  @include highlight();
}

.mod_select {
  width: 95%;
}
