.title {
  -webkit-app-region: drag;
}

button {
  float: right;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  -webkit-app-region: no-drag;
}

.back {
  @include cursor_pointer;
  height: 26px;
  float: left;
  -webkit-app-region: no-drag;
}
