.title_bar {
  -webkit-app-region: drag;
  color: #fff;
  padding-left: 5px;
  background-color:rgba(0, 0, 0, 0.5);

  border-image-source: url('../img/title_background.png');
  border-image-slice: 8 8 11 8;
  border-width: 8px 8px 11px 8px;
  background: #6c6045;

  color: #ffc000;
  font-size: 18px;
  font-family: "Grobold";
  font-weight: normal;
  @include text_shadow();

  margin: -10px -10px 10px -10px;

}

.title_bar_button {
  margin-left: 5px;
  width: 40px;
  height: 40px;
  -webkit-app-region: no-drag;
}

.title_bar_back {
  height: 25px;
  margin-top: 3px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}
