/* TODO: Switch this to sass... */

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@font-face {
  font-family: "Grobold";
  src: url("../font/grobold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Autour One";
  src: url("../font/autour_one.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: #ffc000;
  font-size: 28px;
  font-family: "Grobold";
  font-weight: normal;
  text-shadow:
    2px 2px #000,
    -2px 2px #000,
    2px -2px #000,
    -2px -2px #000,
    2px 0px #000,
    0px 2px #000,
    -2px 0px #000,
    0px -2px #000;
}

h2 {
  font-size: 16px;
  font-family: "Grobold";
  font-weight: normal;
  text-shadow:
    2px 2px #000,
    -2px 2px #000,
    2px -2px #000,
    -2px -2px #000,
    2px 0px #000,
    0px 2px #000,
    -2px 0px #000,
    0px -2px #000;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-family: "Autour One";
  margin: 0;
  padding: 0;
  overflow: hidden;
}


::-webkit-scrollbar {
   width: 16px;
   height: 16px;
}
::-webkit-scrollbar-track {
   background-color: rgba(0,0,0,0.4);
   -webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical {
   background: #322f28;
   border: 2px solid #000;
   -webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
   background: #403b30;
}

::-webkit-scrollbar-thumb:horizontal {
   background: #322f28;
   border: 2px solid #000;
   -webkit-border-radius: 0px;
}

p {
  text-shadow: 2px 2px #000;
  margin: 0;
  padding: 0;
}

th {
  font-family: "Grobold";
  font-weight: normal;
  text-shadow:
    2px 2px #000,
    -2px 2px #000,
    2px -2px #000,
    -2px -2px #000,
    2px 0px #000,
    0px 2px #000,
    -2px 0px #000,
    0px -2px #000;
}

button {
  outline: none;
  cursor: pointer;

  background: #7E8994;

  border-image-source: url('../img/button.png');
  border-image-slice: 8 8 13 8;
  border-width: 8px 8px 13px 8px;

  height: 50px;

  font-family: "Grobold";
}

button:hover {
  border-image-source: url('../img/button_hover.png');
  background: #9E9E82;
}

.button_main {
  border-image-source: url('../img/button_main.png');
  background: #591F1F;

  font-size: 32px;
  color: #ffc000;

  height: 80px;

  width: 500px;
  text-align: center;

  /* Not perfect, but emulates a text-stroke pretty well since text-stroke was ugly */
  text-shadow:
    2px 2px #000,
    -2px 2px #000,
    2px -2px #000,
    -2px -2px #000,
    2px 0px #000,
    0px 2px #000,
    -2px 0px #000,
    0px -2px #000;

  display: block;
  margin: auto;

  margin-bottom: -4px;
}

.button_main:hover {
  border-image-source: url('../img/button_main_hover.png');
  background: #5C2222;
}

.button_red {
  border-image-source: url('../img/button_red.png');
  background: #b33131;
}

.button_red:hover {
  border-image-source: url('../img/button_red_hover.png');
  background: #f93030;
}



input[type='checkbox'] {
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
  background-image: url('../img/button.png');
  width: 50px;
  height: 50px;
}

input[type='checkbox']:hover {
  background: url('../img/button_hover.png');
}

input[type='checkbox']:checked {
  background: url('../img/ok_check.png'), url('../img/button_green.png');
  background-repeat: no-repeat, no-repeat;
  background-position: 14px 12px, 0px 0px;
}


input[type='checkbox']:checked:hover {
  background: url('../img/ok_check.png'), url('../img/button_green_hover.png');
  background-repeat: no-repeat, no-repeat;
  background-position: 14px 12px, 0px 0px;
/*input[type='checkbox']:not(:disabled):active*/
}

input[type=text] {
  border: 2px solid #000;
  background-color: #1c1b1b;
  padding: 6px;
  outline: none;
  font-family: inherit;
  font-size: 14px;
  color: #fff;
}


.box {
  border-image-source: url('../img/box_background.png');
  border-image-slice: 6 6 12 6;
  border-width: 6px 6px 12px 6px;
  background: #403c33;
  color: #fff;
  padding: 10px;

  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.well {
  border-image-source: url('../img/well_background.png');
  border-image-slice: 11 6 6 6;
  border-width: 11px 6px 6px 6px;
  background: #1f1e1e;
  color: #fff;
  padding: 10px;
}

.title {
  border-image-source: url('../img/title_background.png');
  border-image-slice: 8 8 11 8;
  border-width: 8px 8px 11px 8px;
  background: #6c6045;

  color: #ffc000;
  font-size: 16px;
  font-family: "Grobold";
  font-weight: normal;
  text-shadow:
    2px 2px #000,
    -2px 2px #000,
    2px -2px #000,
    -2px -2px #000,
    2px 0px #000,
    0px 2px #000,
    -2px 0px #000,
    0px -2px #000;

  padding: 8px;
  margin: -10px -10px 5px -10px;
}

.title_bar {
  -webkit-app-region: drag;
  color: #fff;
  padding-left: 5px;
  background-color:rgba(0, 0, 0, 0.5);

  border-image-source: url('../img/title_background.png');
  border-image-slice: 8 8 11 8;
  border-width: 8px 8px 11px 8px;
  background: #6c6045;

  color: #ffc000;
  font-size: 18px;
  font-family: "Grobold";
  font-weight: normal;
  text-shadow:
    2px 2px #000,
    -2px 2px #000,
    2px -2px #000,
    -2px -2px #000,
    2px 0px #000,
    0px 2px #000,
    -2px 0px #000,
    0px -2px #000;

  margin: -10px -10px 10px -10px;

}

.title_bar_button {
  margin-left: 5px;
  width: 40px;
  height: 40px;
  -webkit-app-region: no-drag;
}

.title_bar_back {
  height: 25px;
  margin-top: 3px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.table_stripe tbody td {
  padding: 5px;
}
/*.table_stripe tbody tr:nth-child(odd) {background: #312f30}*/
.table_stripe tbody tr:nth-child(odd) {background: #333029}
.table_stripe tbody tr:nth-child(odd) {}
