.list {
  height: calc(100vh - #{$non_content_height});
  overflow-y: auto;
  overflow-x: hidden;
}

.unsupported {
  @include cursor_not-allowed;
  opacity: 0.3;
}

small {
  display: block;
}

.well {
  height: calc(100vh - #{$non_content_height});
  position: relative;
  padding-top: 160px;
}
