.list {
  height: calc(100vh - #{$non_content_height});
  overflow-y: auto;
  overflow-x: hidden;
}

.name {
  @extend h2;
  overflow: hidden;
  width: 85%;
  text-overflow: ellipsis;
}

.effect_open {
  @extend .cursor_pointer;
}

.cubemitter_open {
  height: 20px;
  @extend .cursor_pointer;
}

.well {
  height: calc(100vh - #{$non_content_height});
  position: relative;
  padding: 0;
}

.unsupported {
  @extend .cursor_not-allowed;
  opacity: 0.3;
}

small {
  display: block;
}

.toolbar {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 10px;
  width: calc(100% - 20px);

  input { // Toolbar items are checkbox inputs
    outline: none;
    -webkit-appearance: none;
    @extend .cursor_pointer;
    background-repeat: no-repeat;
    background-size: 42px 42px;
    width: 42px;
    height: 42px;
    opacity: 0.2;
  }

  input:checked {
    opacity: 1;
  }

  .toggle_terrain {
    background-image: url('../img/terrain.png');
  }

  .toggle_axis {
    background-image: url('../img/axis.png');
  }

  .toggle_emitter {
    background-image: url('../img/emitter.png');
  }
}
