.button_main {
  display: block;
  margin: 0 auto 10px auto;

  width: 500px;
  height: 80px;

  border-image-source: url('../img/button_main.png');
  background: #591F1F;

  @include text_shadow();
  text-align: center;
  font-size: 32px;
  color: #ffc000;
}

.button_main:hover {
  @include highlight();
}
